<div class="container">
  <h1>Tag para mandar a giphy</h1>
  <input type="text" #tagValue>
  <button (click)="process(tagValue)">Consulta</button>

</div>

<!--<app-rendered-gif *ngIf="misGifs!=null"></app-rendered-gif>-->

<ul *ngIf="giphies.length >1">
  <li *ngFor="let Mygif of giphies">
    <!--<app-rendered-gif *ngIf="misGifs!=null"></app-rendered-gif>-->
    <app-rendered-gif [misGifs]="Mygif"></app-rendered-gif>
    <h1>AHORA RENDERIZO!</h1>
  </li>
</ul>

<!--<app-rendered-gif *ngFor="giphies"></app-rendered-gif>-->

